<footer class="footer text-white mt-5 pt-3">
    <div class="container text-center w-50">
        <h6 class="py-4 text-uppercase text-blue">AngularBasic</h6>
        <div class="mx-auto line-display"></div>
    </div>
    <div class="row mb-3 text-center">
        <div class="col-md-8 offset-md-2">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, dolore ullam! Corporis doloribus officiis
                eligendi.</p>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a href="#"
                       class="nav-link text-green"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#"
                       class="nav-link text-green"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#"
                       class="nav-link text-green"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy py-3 text-center border-top">
        <p>Made by Marta Casal &copy; 2021</p>
    </div>
</footer>