<section class="w-25 mt-5">
    <p>Hi! I'm Marta, a Frontend engineer or developer or designer wannabe based in Barcelona who loves to learn and
        take part of creative and challenging projects. I enjoy developing intuitive APIs with and efficient UX/UI
        implementations.<i class="far fa-flushed"></i></p>
    <p>I started studying graphic design at EINA and a few years later I realized that the web development is more
        satisfying and fulfill than graphic design and then I started a long path as self-taught web development. A few
        months ago, I continued to expand my knowledge and skills in the intensive 4-months course at Barcelona Activa.
    </p>
    <p>So, here I am.</p><i class="far fa-angry"></i>
</section>