<section class="contact container">
    <h3 class="text-center mb-2 text-blue font-weight-bold">Say something!</h3>
    <form class="needs-validation mt-5 w-75 mx-auto text-blue"
          novalidate
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="id_nombre"
                       class="pl-2">Name</label>
                <input type="text"
                       class="form-control"
                       id="id_nombre"
                       formControlName="nombre"
                       [ngClass]="{'is-invalid':isValidInput('nombre')}">
                <div class="invalid-feedback">
                    <span *ngIf="contactForm.get('nombre')?.errors?.required">
                        Your name is required
                    </span>
                    <span *ngIf="contactForm.get('nombre')?.errors?.minlength">
                        Minimum {{contactForm.get('nombre')?.errors?.minlength.requiredLength}} characters required
                    </span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="id_email"
                       class="pl-2">E-mail</label>
                <input type="email"
                       class="form-control"
                       id="id_email"
                       formControlName="email"
                       [ngClass]="{'is-invalid':isValidInput('email')}">
                <div class="invalid-feedback">
                    <span *ngIf="contactForm.get('email')?.errors?.required">
                        Your email is required
                    </span>
                    <span *ngIf="contactForm.get('email')?.errors?.pattern">
                        Email format is invalid
                    </span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="id_asunto"
                       class="pl-2">Subject</label>
                <input type="text"
                       class="form-control"
                       id="id_asunto"
                       formControlName="asunto"
                       [ngClass]="{'is-invalid':isValidInput('asunto')}">
                <div class="invalid-feedback">
                    <span *ngIf="contactForm.get('asunto')?.errors?.required">
                        Tell me why ain't nothin' but a heartache
                    </span>
                    <span *ngIf="contactForm.get('asunto')?.errors?.minlength">
                        Minimum {{contactForm.get('asunto')?.errors?.minlength.requiredLength}} characters required
                    </span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label for="id_asunto"
                   class="pl-2">Message</label>
            <textarea class="form-control"
                      id="id_mensaje"
                      formControlName="mensaje"
                      [ngClass]="{'is-invalid':isValidInput('mensaje')}"></textarea>
            <div class="invalid-feedback">
                <span *ngIf="contactForm.get('mensaje')?.errors?.required">
                    Tell me why I never wanna hear you say I want it that way
                </span>
                <span *ngIf="contactForm.get('mensaje')?.errors?.minlength">
                    Minimum {{contactForm.get('mensaje')?.errors?.minlength.requiredLength}} characters required
                </span>
            </div>
        </div>
        <button class="btn btn-success mt-3"
                type="submit"
                [disabled]="contactForm.invalid">Enviar</button>
    </form>
</section>