<section class="container hero mt-3 mb-5">
    <div class="row mt-5">
        <div class="col-md-6 py-5 pl-5">
            <img src="../../assets/img/ReadingDoodle.svg"
                 alt=""
                 class="img-fluid">
        </div>
        <div class="col-md-6 my-auto pl-5">
            <div class="row">
                <div class="hero-text offset-md-1 col-md-10">
                    <h2 class="font-weight-bold pb-3 text-blue">So here we are, looking for a job!</h2>
                    <p class="font-weight-light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni numquam
                        corporis, nam, sint mollitia enim blanditiis corrupti consectetur doloribus dolorum sit
                        asperiores, quos vel! Ducimus inventore blanditiis earum sapiente officiis repellat, vero cumque
                        consequuntur eaque.</p>
                    <button type="button"
                            class="btn btn-outline-success mt-3 text-uppercase">Learn more</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta py-5 mt-3 mb-5">
    <div class="container text-center w-50">
        <h2 class="py-3 text-white text-uppercase">Hi there! What's up?</h2>
        <div class="mx-auto line-display"></div>
        <p class="py-3 text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur dolor at sed
            maxime optio sapiente blanditiis, aperiam quos voluptates suscipit!</p>
        <button type="button"
                class="btn btn-outline-light mt-3 text-uppercase">Learn more</button>
    </div>
</section>
<section class="skills mt-5 mb-5">
    <div class="container text-center w-50 mb-5">
        <h2 class="py-3 text-blue text-uppercase font-weight-bold">Skills</h2>
        <div class="mx-auto line-display"></div>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-4 text-center px-5 border-rounded">
                <div class="text-green"><i class="fa fa-laptop fa-2x"></i></div>
                <h4 class="py-3">Web design</h4>
                <p class="pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rem quia veritatis
                    adipisci suscipit quibusdam.</p>
            </div>
            <div class="col-md-4 text-center px-5 border-rounded">
                <div class="text-green"><i class="fa fa-html5 fa-2x"></i></div>
                <h4 class="py-3">HTML 5</h4>
                <p class="pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rem quia veritatis
                    adipisci suscipit quibusdam.</p>
            </div>
            <div class="col-md-4 text-center px-5 border-rounded">
                <div class="text-green"><i class="fa fa-desktop fa-2x"
                       aria-hidden="true"></i></div>
                <h4 class="py-3">Bootstrap 4</h4>
                <p class="pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rem quia veritatis
                    adipisci suscipit quibusdam.</p>
            </div>
            <div class="col-md-4 text-center px-5 border-rounded">
                <div class="text-green"><i class="fa fa-css3 fa-2x"></i></div>
                <h4 class="py-3">CSS 3</h4>
                <p class="pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rem quia veritatis
                    adipisci suscipit quibusdam.</p>
            </div>
            <div class="col-md-4 text-center px-5 border-rounded">
                <div class="text-green"><i class="fa fa-rebel fa-2x"
                       aria-hidden="true"></i></div>
                <h4 class="py-3">Angular 11</h4>
                <p class="pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rem quia veritatis
                    adipisci suscipit quibusdam.</p>
            </div>
            <div class="col-md-4 text-center px-5">
                <div class="text-green"><i class="fa fa-pencil fa-2x"
                       aria-hidden="true"></i></div>
                <h4 class="py-3">Figma</h4>
                <p class="pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rem quia veritatis
                    adipisci suscipit quibusdam.</p>
            </div>
        </div>
    </div>
</section>